{
  "env": {
    "development": {
      "presets": [["@babel/preset-react", { "development": true }]]
    },
    "test": {
      "presets": ["@babel/env"]
    }
  },
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "react-hot-loader/babel"
  ],
  "presets": [
    ["@babel/env", { "modules": false }],
    "@babel/preset-flow",
    "@babel/preset-react"
  ]
}