# Prisma: Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
# For more information on Prisma and environment variables: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema
DATABASE_URL="mongodb://mongo:password@db:27017/mongo?authSource=admin&directConnection=true"

# Specifies the port the Express app listens on.
PORT_APP=3000

# Prisma: Specifies the port Prisma Studio listens on.
PORT_PRISMA_STUDIO=5555

# Docker: Specifies the name of the database for the mongo image.
# For more information: https://hub.docker.com/_/mongo
MONGO_INITDB_DATABASE=mongo

# Docker: Specifies the MongoDB user's password for the mongo image.
# For more information: https://hub.docker.com/_/mongo
MONGO_INITDB_ROOT_PASSWORD=password

# Docker: Specifies the MongoDB user for the mongo image.
# For more information: https://hub.docker.com/_/mongo
MONGO_INITDB_ROOT_USERNAME=mongo

# Docker: Specifies the host for the mongo image.
# This is one of the environment variables that causes the mongo image to run as a replica set.
MONGO_REPLICA_HOST=localhost

# Docker: Specifies the port for the mongo image.
# This is one of the environment variables that causes the mongo image to run as a replica set.
MONGO_REPLICA_PORT=27017
