@import url("./components/FontTest");
@import url("./components/PNGTest");
@import url("./components/SVGTest");

body {
  background: #23272f;
  color: #fff;
  font-family: Arial, sans-serif;
}

h1,
h2 {
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}

#root {
  margin: 0 auto;
  text-align: center;
  width: 960px;
}

#intro {
  margin-bottom: 5rem;
}

#footer-text {
  color: #888;
  font-style: italic;
  margin-top: 10rem;
  margin-bottom: 2rem;
}

#footer-text p {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

#footer-text a {
  color: #888;
}
