@media (prefers-reduced-motion: no-preference) {
    .react-logo {
        animation: react-logo-spin infinite 20s linear;
        width: 500px;
    }
}

@keyframes react-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
