@import url('../FontTest');
@import url('../PNGTest');
@import url('../SVGTest');

body {
    background: #23272f;
    color: #fff;
    font-family: Arial, sans-serif;
}

#root {
    width: 960px;
    margin: 0 auto;
    text-align: center;
}
