HOST_API=http://localhost:3000
PORT_DEV_SERVER=8080
PORT_EXPRESS=3000
PORT_DB=27017
PORT_PRISMA_STUDIO=5555

# Mongo image: https://hub.docker.com/_/mongo
MONGO_INITDB_DATABASE=mongo
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_REPLICA_HOST=localhost
MONGO_REPLICA_PORT=27017

__EXPRESS_SERVER__="1" # Used to differentiate whether or not the frontend is being run on the server or in the browser

# Prisma
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mongodb://mongo:password@db:27017/mongo?authSource=admin&directConnection=true"