# common
PORT_DB=27017 # This also sets MONGO_REPLICA_PORT for the mongo image

# common e2e
PORT_DB_E2E=27117

# app
HOST=http://localhost:3000
PORT_DEV_SERVER=8080
PORT_EXPRESS=3000

# app image e2e
HOST_E2E=http://localhost:3100
PORT_EXPRESS_E2E=3100
PORT_DEV_SERVER_E2E=8180

# Mongo image: https://hub.docker.com/_/mongo
# db image
MONGO_INITDB_DATABASE=mongo
MONGO_INITDB_ROOT_USERNAME=mongo
MONGO_INITDB_ROOT_PASSWORD=password
MONGO_REPLICA_HOST=localhost

# Prisma
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL="mongodb://mongo:password@db:27017/mongo?authSource=admin&directConnection=true"

# Prisma e2e
DATABASE_URL_E2E="mongodb://mongo:password@db:27117/mongo?authSource=admin&directConnection=true"
