$bg-reply: #b7c5d9;

body {
  background-color: #eef2ff;
  font-family: Arial, Heltica, sans-serif;
  font-size: 10pt;
}

a, a:visited {
  color: #35345c;
  text-decoration: none;
}

a:hover {
  color: #d00;
}

.center {
  display: flex;
  justify-content: center;
}

#page-head h1 {
  color: #af0a0f;
  font-size: 28px;
}

#page-head span {
  font-size: 22px;
  margin-bottom: 1em;
}

#page-head span, #not-found span {
  font-weight: 700;
}

#threads {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

#threads ul {
  list-style-type: none;
  margin-block-start: 0;
  padding-inline-start: 0;
}

#threads li {
  margin-bottom: 1em;
}

#threads .name {
  color: #117743;
}

#threads .thread:first-child {
  margin-top: 1em;
}

#threads .thread header, #threads .reply header {
  padding: 0.5em;
}

#threads .thread .comment {
  padding: 1em 1em 1em 0.5em;
}

#threads .reply .comment {
  padding: 1em;
}

#threads .thread > .comment {
  margin-bottom: 1em;
}

#threads .reply > div {
  display: inline-block;
  background-color: #d6daf0;
  border: 1px solid $bg-reply;
  border-top: none;
  border-left: none;
  margin-left: 0.5em;
}

#threads .reply:before {
  color: $bg-reply;
  content: '>>';
  float: left;
  margin-top: 0.5em;
}

#new-thread-form th {
  background-color: #98e;
  border: 1px solid #000;
  text-align: left;
}

#new-thread-form td {
  padding: 0.2em;
}

#new-thread-form input[type="text"] {
  width: 100%;
}

#new-thread-form textarea {
  width: 100%;
}

#new-thread-form button[type="submit"] {
  float: right;
}